<section class="discord">
    <figure class="full-size background"></figure>
    <div class="overlay">
        <h2 class="title">Discord</h2>
        <span class="description">
            Du bist designmäßig oder auch programmiertechnisch begabt?<br/><br/>
            Auf unserem Partnerdiscord findest Du endlich gleichgesinnte, die Du sicherlich schon seit Ewigkeiten
            gesucht hast. Neben diversen Contests und Abstimmungen findest Du hier talentierte Designer und Developer,
            die auch auf Dich sicherlich mal zukommen werden.
        </span>
        <a href="https://discordapp.com/invite/PGv5TR3" class="button">Los geht's</a>
    </div>
</section>
