<header class="page-header top-story"
    style="linear-gradient(to top, rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url({{feature_image}}) no-repeat center / cover, #111111">
    <div class="content container">
        <h1 class="headline">{{title}}</h1>
        <a class="button" href="{{url}}">Lesen</a>
    </div>
    <figure class="wave"></figure>
</header>