<header class="page-header top-story"
    style="background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.4)), url({{feature_image}}) no-repeat center / cover, #111111">
    <div class="content container-flo">
        <h1 class="headline">{{title}}</h1>
        <a class="button" href="{{url}}">Lesen</a>
    </div>
    <figure class="wave"></figure>
</header>