{{!< default}}
<main>

    <header class="page-header error small">
        <div class="content container">
            <h1 class="headline">{{statusCode}}</h1>
        </div>
        <figure class="wave"></figure>
    </header>

    <section class="error container">
        <h2 class="message">{{message}}</h2>
        <a class="link" href="/">Zurück zum Start</a>
    </section>

</main>