{{!< default}}
<main>

    <header class="page-header error small">
        <div class="content container-flo">
            <h1 class="headline">Rette sich wer kann... ein {{statusCode}}!</h1>
        </div>
        <figure class="wave"></figure>
    </header>

    <section class="error container-flo">
        <h2 class="message">{{message}}</h2>
        <a class="link" href="/">Zurück zum Start</a>
    </section>

</main>