{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
{{#get "posts" filter="featured:true" limit="1" as |featured|}}
    {{#foreach featured}}
        <header class="top-story">
            <figure class="full-size thumbnail" style="background-image: url({{feature_image}})"></figure>
            <div class="overlay">
                <div class="content">
                    <h1 class="headline">{{title}}</h1>
                    <a class="button" href="{{url}}">Lesen</a>
                </div>
            </div>
            {{> "wave"}}
        </header>
    {{/foreach}}
{{/get}}

{{!-- The main content area --}}
<main>
    <section class="articles">
        {{#get "posts" filter="featured:false" limit="9" as |recents|}}
            {{#foreach recents}}
                {{> "post-card"}}
            {{/foreach}}
        {{/get}}
    </section>

    {{> "discord"}}
</main>
