{{!< default}}
<main>

    <header class="partner small">
        <figure class="full-size thumbnail">
        </figure>
        <div class="overlay">
            <div class="content">
                <h1 class="headline">Partner</h1>
            </div>
        </div>
        {{> "wave"}}
    </header>

    <section class="partner">
        <div class="card">
            <figure class="logo myprepaidhost"></figure>
            <div class="content">
                <span class="name">MyPrepaidHost</span>
                <span class="sector">Hosting</span>
                <span class="description">
                    Unser Server wird von den Jungs bei MyPrepaidHost bereitgestellt und technisch betreut.
                </span>
            </div>
        </div>
        <div class="card">
            <figure class="logo anguli"></figure>
            <div class="content">
                <span class="name">Anguli Networks</span>
                <span class="sector">Development</span>
                <span class="description">
                    In unserem Projekt steckt viel Arbeit. Vieles davon nimmt uns netterweise das Anguli Network ab.
                </span>
            </div>
        </div>
        <div class="card">
            <figure class="logo smashfm"></figure>
            <div class="content">
                <span class="name">smashFM</span>
                <span class="sector">Radiosender</span>
                <span class="description">
                    Smash! egal wann, egal wo! Dort hörst Du Lieder, welche Du kennst, noch nicht kennst und kennen
                    solltest.
                </span>
            </div>
        </div>
        <div class="card">
            <figure class="logo designhub"></figure>
            <div class="content">
                <span class="name">designhub</span>
                <span class="sector">Designcommunity</span>
                <span class="description">
                    Das designhub-Team ist für uns der erste Ansprechpartner, wenn wir Logos oder anderweitige Designs
                    brauchen.
                </span>
            </div>
        </div>
    </section>

{{!--    {{> "discord"}} --}}

</main>
