{{!< default}}
<main>

    <header class="page-header branding">
        <div class="content  container">
            <h1 class="headline">Branding</h1>
        </div>
        <figure class="wave"></figure>
    </header>

    <section class="branding container">
        <div class="row">
            <figure class="logo color col-12"></figure>
        </div>
        <div class="row">
            <figure class="logo black col-6"></figure>
            <figure class="logo white col-6"></figure>
        </div>
        <div class="text">
            <h2 class="title">Unser Logo</h2>
            <p class="description">
                Unser Logo ist nicht nur ein einfach hingeklatscht & ein Zufallsprodukt. – Hinter dem „ST“ steckt
                tatsächlich eine Botschaft und ein einzigartiges Konzept! Dieses Logo repräsentiert und bietet neben
                dem visuellen Anker einen besonderen Wert und soll sowohl als auch eine gewisse Zielgruppe ansprechen
                und Interesse wecken. Es ist nicht dafür da, potentielle Reichweite zu generieren, sondern es ist
                dafür da, Überzeugungskraft zu wecken.
            </p>
        </div>
        <div class="row">
            <figure class="color purple col-6">
                <span class="hex">#59388D</span>
            </figure>
            <figure class="color blue col-6">
                <span class="hex">#1688A7</span>
            </figure>
        </div>
        <div class="row">
            <figure class="color white col-3">
                <span class="hex">#FFFFFF</span>
            </figure>
            <figure class="color light-gray col-3">
                <span class="hex">#C1C1C1</span>
            </figure>
            <figure class="color dark-gray col-3">
                <span class="hex">#212121</span>
            </figure>
            <figure class="color black col-3">
                <span class="hex">#111111</span>
            </figure>
        </div>
        <div class="text">
            <h2 class="title">Lila, Blau und Grau</h2>
            <p class="description">
                Unser Branding hat nicht ohne Grund die beiden Farben als Farbverlauf zugewiesen bekommen: Es ist alles
                eine Sache der Psychologie. Das lila sorgt dafür, dass sich das Logo von allen anderen besonders abhebt
                und das blau sorgt für eine Symbolisierung unserer Glaubwürdigkeit und entsprechender Ernsthaftigkeit.
                – Denn Nachrichten sind ein ernstes Thema in unserer Branche.
            </p>
        </div>
        <div class="row">
            <figure class="font montserrat col-12">
                <span class="char">Aa</span>
                <span class="name">Montserrat</span>
            </figure>
        </div>
        <div class="text">
            <h2 class="title">Fonts</h2>
            <p class="description">
                Gut gewählt ist schon halb gewonnen. Denn eine Font kann nur dann gut zu einem Branding passen, wenn
                sie gut lesbar ist und zeitgleich gut aussieht. Wir haben uns deswegen für Montserrat entschieden.
            </p>
        </div>
    </section>

    {{!--    {{> "discord"}} --}}

</main>