{{!< default}}
<main>
    {{#post}}
    <header class="page-header"
        style="background: linear-gradient(to top, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{feature_image}})  no-repeat center / cover, #222">
        <div class="content container-flo-small">
            <h1 class="headline">{{title}}</h1>
        </div>
        <figure class="wave"></figure>
    </header>

    <section class="article container-flo-small">
        <div class="content">
            {{content}}
        </div>
    </section>
    {{/post}}

    {{!--    {{> "discord"}} --}}
</main>

{{#contentFor "scripts"}}
<script>
    $(function () {
        var $postContent = $(".post-full-content");
        $postContent.fitVids();
    });
</script>
{{/contentFor}}

{{!< default}}