{{!< default}}
<main>
    {{#post}}
    <header class="page-header"
        style="background: linear-gradient(to top, rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url({{feature_image}})  no-repeat center / cover, #111111">
        <div class="content container">
            <h1 class="headline">{{title}}</h1>
        </div>
        <figure class="wave"></figure>
    </header>

    <section class="article container">
        <div class="content">
            {{content}}
        </div>
    </section>
    {{/post}}

</main>

{{!< default}}