{{!< default}}
<main>
    {{#tag}}
    <header class="page-header category"
        style="background: linear-gradient(to top, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{feature_image}})  no-repeat center / cover, #222">
        <div class="content container-flo">
            <h1 class="headline">{{name}}</h1>
            <span class="description">
                {{description}}
            </span>
        </div>
        <figure class="wave"></figure>
    </header>
    {{/tag}}

    <main class="post-list container-flo">
        {{#foreach posts}}
        {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
        {{> "post-card"}}
        {{/foreach}}
    </main>

    {{!--    {{> "discord"}} --}}

</main>