{{!< default}}
<main>
    {{#tag}}
        <header class="category small">
            <figure class="full-size thumbnail" style="background-image: url({{feature_image}})"></figure>
            <div class="overlay">
                <div class="content">
                    <h1 class="headline">{{name}}</h1>
                    <span class="description">
                        {{description}}
                    </span>
                </div>
            </div>
            {{> "wave"}}
        </header>
    {{/tag}}

    <section class="articles">

        {{#foreach posts}}
        {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
            {{> "post-card"}}
        {{/foreach}}
    </section>

{{!--    {{> "discord"}} --}}

</main>
