@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

$default-transition-time: 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
$small-device: "only screen and (max-width: 735px)";
$medium-device: "only screen and (max-width: 1068px)";
$large-device: "only screen and (min-width: 1442px)";
$ultra-large: "only screen and (min-width: 2202px)";
$retina-device: "only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi)";

@mixin filter-transition($time, $filter...) {
  transition: filter $time;
  filter: $filter;
}

@mixin transition-transform-extra($time, $transform, $extra...) {
  transition: transform $time, $extra;
  transform: $transform;
}

@mixin transition-transform($time, $transform) {
  transition: transform $time;
  transform: $transform;
}

@mixin show() {
  border: none;
  clip: auto;
  height: auto;
  margin: auto;
  overflow: visible;
  padding: auto;
  position: relative;
  width: auto;
}

@mixin hidden() {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

* {
  transition: background-color $default-transition-time;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-size: 14px;
  color: #333;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  min-height: 100%;

  background-color: rgb(253, 253, 253);

  @media (prefers-color-scheme: dark) {
    color: #fff;
    background-color: #212121;
  }
}

figure,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0;
}

/* Some general Stuff */
a.brand {
  position: relative;
  display: inline-block;
  background-image: url(../../img/branding/white.svg);
  background-size: 32px 32px;
  width: 32px;
  height: 32px;

  span.name {
    @include hidden();
  }
}

a.button {
  transition: all $default-transition-time;
  padding: 11px 60px 11px 15px;

  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;

  background-image: url(../../img/button/arrow-black.svg);
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 16px 16px;

  background-color: white;
  color: #333;

  box-shadow: 0 0.3em 0.5em -0.2em rgba(100, 100, 100, 1),
              0 1em 2em -0.75em rgba(100, 100, 100, 0.75),
              0 1em 3em -0.5em rgba(100, 100, 100, 0.5),
              0 3em 3em -0.25em rgba(100, 100, 100, 0.2);

  &:hover {
    transform: translate(0, -0.3em);
    background-color: #eee;
  }

  &.dark {
    background-image: url(../../img/button/arrow-white.svg);
    background-color: #111;
    color: #fff;

    &:hover {
      box-shadow: 0 1em 3em -0.25em rgba(46, 46, 46, 0.795);
      background-color: #000;
    }

    @media (prefers-color-scheme: dark) {
      background-image: url(../../img/button/arrow-black.svg);
      background-color: white;
      color: #333;
      box-shadow: 0 0.3em 0.5em -0.2em rgba(17, 17, 17, 1),
                  0 1em 2em -0.75em rgba(17, 17, 17, 0.75),
                  0 1em 3em -0.5em rgba(17, 17, 17, 0.5),
                  0 3em 3em -0.25em rgba(17, 17, 17, 0.2);

      &:hover {
        background-color: #eee;
        box-shadow: 0 1em 3em -0.25em rgba(17, 17, 17, 0.795);
      }
    }
  }
}

/* Global Navigation */
input#gn-menustate {
  @include hidden();
}

nav#globalnav {
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  padding: 15px 0;
  position: absolute;
  background-color: transparent;
  transition: background-color $default-transition-time, height $default-transition-time;

  div.content {
    a.brand {
      margin-top: 5px;
      background-repeat: no-repeat;

      @media #{$small-device}, #{$medium-device} {
        width: 100%;
        background-position: 50% 0;
      }
    }

    div.menu {
      float: right;

      label.menuicon {
        @include hidden();

        @media #{$small-device}, #{$medium-device} {
          @include show();

          display: block;
          position: absolute;
          top: 14px;
          right: 0;
          width: 48px;
          height: 48px;
          cursor: pointer;
          @include transition-transform($default-transition-time, rotate(0));

          &:hover {
            opacity: 0.65;
          }

          span.bread {
            position: absolute;
            top: 0;
            right: 0;
            width: 48px;
            height: 48px;
            @include transition-transform($default-transition-time, rotate(0));

            span.crust {
              display: block;
              width: 18px;
              height: 2px;
              background: #fff;
              position: absolute;
              left: 15px;

              &.crust-top {
                top: 23px;
                @include transition-transform($default-transition-time, translateY(-3px));
              }

              &.crust-bottom {
                bottom: 23px;
                @include transition-transform($default-transition-time, translateY(3px));
              }
            }
          }
        }
      }

      ul.categories {
        > li.entry {
          padding-right: 10px;
          font-weight: 500;

          > a.link {
            color: #fff;
            text-decoration: none;

            @media #{$small-device}, #{$medium-device} {
              display: block;
              outline-offset: 0;
              padding: 0;
              width: auto;
              max-width: none;
            }
          }

          @media #{$small-device}, #{$medium-device} {
            display: block;
            font-weight: 600;
            width: 100%;
            height: 30px;
            margin-top: 15px;
            padding: 0;
            border-bottom: 2px solid hsla(0, 0%, 100%, 0.8);
            pointer-events: none;
            @include transition-transform-extra(
              $default-transition-time,
              scale(1, 1) translateY(24px),
              opacity $default-transition-time
            );
          }
        }

        @media #{$small-device}, #{$medium-device} {
          position: absolute;
          top: 64px;
          right: 0;
          bottom: 0;
          left: 0;
          margin: 0;
          padding: 0 48px;
          height: auto;
          box-sizing: border-box;
          overflow-x: hidden;
          overflow-y: auto;
          visibility: hidden;
          transition: visibility 0s linear 1s;
        }
      }

      ul.categories {
        list-style: none;
        display: inline-block;

        li.entry {
          display: inline-block;

          &:last-child {
            padding-right: 0;
          }
        }
      }
    }
  }
}

input#gn-menustate:checked ~ nav#globalnav {
  height: 100vh;
  background-color: #111;
  position: fixed;

  div.content div.menu {
    label.menuicon {
      transform: rotate(90deg);

      span.bread {
        &.bread-top {
          @include transition-transform($default-transition-time, rotate(45deg));
        }

        &.bread-bottom {
          @include transition-transform($default-transition-time, rotate(-45deg));
        }

        span.crust {
          transform: translateY(0);
          transition-delay: 0;
        }
      }
    }

    ul.categories {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
      transition: none;
      transform: none;

      > li.entry {
        opacity: 1;
        transform: translate3d(0, 0, 0);

        > a.link {
          pointer-events: auto;

          &:hover {
            color: #ddd;
          }
        }

        @for $i from 2 through 10 {
          &:nth-child(#{$i}) {
            transition-delay: #{$i * 50 + 100}ms, #{$i * 50 + 100}ms;
          }
        }
      }
    }
  }
}

.container {
  max-width: 1000px;
  width: 85%;
  margin: 0 auto;
}

/* Header */
header.page-header {
  min-height: 500px;
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 200px;
  box-sizing: border-box;
  background-color: #212121;
  color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &.top-story {
    min-height: 70vh;
  }

  figure.wave {
    position: absolute;
    bottom: 0px;
    width: 100vw;
    height: 200px;
    background-image: url(../../img/waves/wave.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: block;

    @media (prefers-color-scheme: dark) {
      background-image: url(../../img/waves/wave-dark.png);
    }
  }

  div.content {
    padding: 180px 0;

    h1.headline {
      margin-top: 6px;
      font-size: 48px;
      max-width: 80%;
      line-height: 1.1em;

      @media #{$small-device} {
        font-size: 32px;
        max-width: 100%;
        hyphens: auto;
        overflow-wrap: anywhere;
      }
    } 

    a.button {
      margin-top: 16px;
      display: inline-block;
    }

  }

  &.article {
    div.meta {
      font-size: 12px;
      color: hsla(0, 0%, 100%, 0.8);
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.05em;

      a {
        color: inherit;
        text-decoration: none;
      }

      span.readingtime,
      a.category {
        @media #{$small-device} {
          display: none;
        }
      }

      span::after {
        padding-left: 4px;
        padding-right: 3px;
        content: "-";

        @media #{$small-device} {
          content: "";
        }
      }

      span:last-child::after {
        content: "";
      }
    }
  }

  div.authors,
  aside.description,
  aside.bio {
    font-size: 16px;
    color: hsla(0, 0%, 100%, 0.9);
    font-weight: 500;
    max-width: 45%;
    margin-top: 10px;

    @media #{$small-device} {
      max-width: 90%;
    }

    div.authors {
      max-width: 30%;

      @media #{$small-device} {
        max-width: 60%;
      }
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &.branding {
    background-image: linear-gradient(to right, rgb(89, 56, 141) 0%, rgb(22, 136, 167) 100%);
  }

  &.error {
    background-image: url(../../img/sections/error.jpg);
  }
}

.overlap-with-header {
  margin-top: -250px;
  position: relative;
  z-index: 2;
}

/* Articles */
div.post-list {
  padding-bottom: 100px;
  margin: -1rem;
  display: flex;

  &.post-list--one,
  &.post-list--two {
    display: none;
  }

  &.post-list--three .post-list-column:nth-of-type(2) {
    margin-top: -2rem;
  }
  &.post-list--three .post-list-column:nth-of-type(3) {
    margin-top: 2rem;
  }

  &.post-list--two .post-list-column:nth-of-type(2) {
    margin-top: 3rem;
  }

  @media #{$medium-device} {
    &.post-list--one,
    &.post-list--three {
      display: none !important;
    }
    &.post-list--two {
      display: flex !important;
    }
  }

  @media #{$small-device} {
    &.post-list--two,
    &.post-list--three {
      display: none !important;
    }
    &.post-list--one {
      display: block !important;
    }
  }

  div.post-list-column {
    margin: 1rem;
    flex: 1;
  }
  article.article {
    box-shadow: 0 1em 3em -0.25em rgba(46, 46, 46, 0.61);

    @media (prefers-color-scheme: dark) {
      box-shadow: 0 1em 3em -0.25em rgba(17, 17, 17, 0.61);
    }
    margin-bottom: 3rem;
    border-radius: 10px;
    background-color: #fff;
    position: relative;

    @media (prefers-color-scheme: dark) {
      background-color: #111111;
      color: white;
    }

    img.thumbnail {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      height: 180px;
      object-fit: cover;
      width: 100%;
    }

    div.content {
      padding: 20px 30px;
      height: 100%;

      a.category {
        color: #888;
        text-transform: uppercase;
        font-size: 12px;
        display: block;
        text-decoration: none;
        font-weight: 600;

        @media (prefers-color-scheme: dark) {
          color: #92a3ab;
        }
      }

      h1.title {
        padding-top: 5px;
        display: block;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.03em;

        @media (prefers-color-scheme: dark) {
          color: hsla(0, 0%, 100%, 0.85);
        }
      }

      p.text-preview {
        margin-top: 1em;
        font-weight: 400;
        color: rgb(90, 90, 90);
        display: block;
        line-height: 1.6;

        @media (prefers-color-scheme: dark) {
          color: #92a3ab;
        }
      }
    }

    a.button {
      right: 25px;
      position: absolute;
      bottom: -15px;
      width: fit-content;
      align-self: flex-end;

    }
  }
}

/* Article */
section.article,
section.page-template {
  box-shadow: 0 1em 3em -0.25em rgba(46, 46, 46, 0.61);

  @media (prefers-color-scheme: dark) {
    box-shadow: 0 1em 3em -0.25em rgba(17, 17, 17, 0.61);
  }

  margin-top: -250px;
  margin-bottom: 100px;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  background-color: #fff;

  @media (prefers-color-scheme: dark) {
    background-color: #111111;
    color: hsla(0, 0%, 100%, 0.85);
  }

  div.content {
    padding: 50px 20%;

    @media #{$small-device} {
      padding: 20px 8%;
    }

    a {
      color: #111;
      border-bottom: #007aff 2px solid;
      text-decoration: none;

      &:hover {
        color: #007aff;
      }

      @media (prefers-color-scheme: dark) {
        color: #92a3ab;
      }
    }

    p,
    li,
    blockquote {
      color: rgb(90, 90, 90);
      font-weight: 400;
      font-size: 16px;
      line-height: 1.65;
      margin: 1em 0;

      @media (prefers-color-scheme: dark) {
        color: #92a3ab;
      }
    }

    blockquote {
      margin: 0;
      border-left: 2px solid #999;
      padding-left: 16px;
    }

    h2 {
      font-size: 32px;
    }

    h3 {
      font-size: 24px;
    }

    h2, h3 {
      @media #{$small-device} {
        hyphens: auto;
        overflow-wrap: anywhere;
      }
    }

    img {
      width: 100%;
      height: auto;
    }

    pre code {
      background-color: #FFF;
      color: #666;
      padding: 2em;
      display: block;
      overflow-x: auto;
      page-break-inside: avoid;
      border-radius: 10px;
      font-family: 'Fira Code', monospace;
      box-shadow: 0 1em 3em -0.25em rgba(46,46,46,.11);

      @media (prefers-color-scheme: dark) {
        background-color: #212121;
        color: #999;
        box-shadow: 0 1em 3em -0.25em rgba(17,17,17,.61);
      }
    }

    strong {
      font-weight: 700;
    }

    .kg-embed-card {
      margin-left: auto;
      margin-right: auto;
      width: 70%;

      @media #{$small-device} {
        width: 100%;
      }

      iframe {
        width: 100%;
      }
    }
  }
}

/* Error */
section.error {
  padding-top: 100px;
  padding-bottom: 150px;

  a {
    color: #007aff;
    text-decoration: none;
  }
}

/* Branding */
section.branding {
  position: relative;
  z-index: 10;
  margin-top: -150px;

  div.row {
    width: 100%;
    display: block;

    > .col-12,
    > .col-6,
    > .col-3 {
      display: inline-block;
    }

    .col-12 {
      width: 100%;
    }

    .col-6 {
      width: calc(50% - 16px);
      margin-right: 25px;

      &:last-child {
        margin-right: 0;
      }

      @media #{$small-device} {
        width: 100%;
        margin-right: 0;
      }
    }

    .col-3 {
      width: calc(25% - 23px);
      margin-right: 25px;

      &:last-child {
        margin-right: 0;
      }

      @media #{$small-device} {
        width: 100%;
        margin-right: 0;
      }
    }
  }

  figure {
    background-color: #fff;
    box-shadow: 0 1em 3em -0.25em rgba(46, 46, 46, 0.61);

    @media (prefers-color-scheme: dark) {
      box-shadow: 0 1em 3em -0.25em rgba(17, 17, 17, 0.61);
    }

    border-radius: 10px;
    margin: 10px 0;
    text-align: center;

    &.logo {
      background-size: 96px 96px;
      background-position: 50%;
      background-repeat: no-repeat;
      height: 300px;

      &.color {
        background-size: 128px 128px;
        background-image: url(../../img/branding/color.svg);
        height: 500px;
      }

      &.black {
        background-image: url(../../img/branding/black.svg);
      }

      &.white {
        background-color: #111;
        background-image: url(../../img/branding/white.svg);
      }
    }

    &.color {
      height: 200px;
      color: #fff;

      &.purple {
        background-color: #59388d;
      }

      &.blue {
        background-color: #1688a7;
      }

      &.white {
        background-color: #fff;
        color: #111;
      }

      &.light-gray {
        background-color: #c1c1c1;
        color: #111;
      }

      &.dark-gray {
        background-color: #212121;
      }

      &.black {
        background-color: #111;
      }

      span.hex {
        display: block;
        margin-top: 85px;
        font-size: 22px;
      }
    }

    &.font {
      height: 200px;

      &.montserrat {
        font-family: "Montserrat", sans-serif;
      }

      span.char {
        font-weight: 600;
        font-size: 56px;
        display: block;
        margin-top: 50px;
        color: #111;
      }

      span.name {
        display: block;
        color: #333;
        font-size: 18px;
      }
    }
  }

  div.text {
    padding: 50px 15%;

    p.description {
      font-weight: 400;
      line-height: 1.5em;
    }
  }
}

section.branding {
  margin-bottom: 350px;

  @media #{$ultra-large} {
    margin-top: 0;
    margin-bottom: 550px;
  }
}

footer.footer {
  width: 100%;
  background-color: #111;
  color: #fff;
  padding: 45px 0;

  ul {
    -webkit-padding-start: 0;
    padding-left: 0;
  }

  ul.columns {
    list-style: none;

    > li.entry {
      vertical-align: top;
      display: inline-block;
      width: calc(25% - 5px);

      @media #{$small-device} {
        width: 100%;
        padding-top: 35px;

        &:first-child {
          padding-top: 0;
        }
      }

      div.sub-menu {
        padding-right: 30px;

        ul.links {
          padding-top: 10px;
          list-style: none;

          > li.entry a {
            color: #999;
            text-decoration: none;
            line-height: 1.5em;

            &:hover {
              color: #777;
            }
          }
        }
      }
    }
  }

  ul.copyright {
    list-style: none;
    padding-top: 35px;
    color: #bbb;

    li.entry {
      display: inline-block;
      padding-right: 5px;
      padding-left: 3px;
      border-right: #bbb 2px solid;
      line-height: 1.3em;

      @media #{$small-device} {
        display: block;
        padding: 0;
        border: none;
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border-right: none;
        padding-right: 0;
      }

      div.places {
        float: right;
        text-indent: 3px;
        line-height: 1.3em;

        @media #{$small-device} {
          display: inline;
          float: none;
        }

        span {
          animation: fadeInOut 15s linear infinite 0s;
          opacity: 0;
          overflow: hidden;
          position: absolute;

          @for $i from 2 through 5 {
            &:nth-child(#{$i}) {
              animation-delay: #{($i - 1) * 3}s;
            }
          }

          @keyframes fadeInOut {
            0% {
              opacity:0
            }
            9% {
              opacity:1
            }
            18% {
              opacity:1
            }
            27% {
              opacity:0
            }
          }
        }
      }
    }
  }
}
