@import url(../../fonts/stylesheet.css);

$default-transition-time: 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
$small-device: 'only screen and (max-width: 735px)';
$medium-device: 'only screen and (max-width: 1068px)';
$large-device: 'only screen and (min-width: 1442px)';
$ultra-large: 'only screen and (min-width: 2202px)';
$retina-device: 'only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi)';

@mixin container($large, $medium, $small) {
  max-width: $large;
  margin: 0 auto;

  @media #{$medium-device} {
    max-width: $medium;
  }

  @media #{$small-device} {
    width: $small;
  }
}

@mixin default-container() {
  @include container(980px, 698px, 95%);
}

@mixin post-container() {
  @include container(800px, 698px, 95%);
}

@mixin box-shadow($value...) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}

@mixin transition($value...) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -o-transition: $value;
  transition: $value;
}

@mixin transform($value...) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  transform: $value;
}

@mixin transition-delay($time...) {
  -webkit-transition-delay: $time;
  -moz-transition-delay: $time;
  -o-transition-delay: $time;
  transition-delay: $time;
}

@mixin filter($value...) {
  -webkit-filter: $value;
  -ms-filter: $value;
  filter: $value;
}

@mixin filter-transition($time, $filter...) {
  @include transition(-webkit-filter $time, -ms-filter $time, filter $time);
  @include filter($filter);
}

@mixin transition-transform-extra($time, $transform, $extra...) {
  -webkit-transition: -webkit-transform $time, $extra;
  -moz-transition: -moz-transform $time, $extra;
  -o-transition: -o-transform $time, $extra;
  transition: transform $time, $extra;
  @include transform($transform);
}

@mixin transition-transform($time, $transform) {
  -webkit-transition: -webkit-transform $time;
  -moz-transition: -moz-transform $time;
  -o-transition: -o-transform $time;
  transition: transform $time;
  @include transform($transform);
}

@mixin show() {
  border: none;
  clip: auto;
  height: auto;
  margin: auto;
  overflow: visible;
  padding: auto;
  position: relative;
  width: auto;
}

@mixin hidden() {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-size: 14px;
  color: #333;
  font-family: 'Basier Square', sans-serif;
  margin: 0;
  min-height: 100%;

  background-color: rgb(253, 253, 253);


  @media (prefers-color-scheme: dark) {
    color: #fff;
    background-color: #212121;
  }
}

figure,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0;
}

/* Some general Stuff */
a.brand {
  position: relative;
  display: inline-block;
  background-image: url(../../img/branding/white.png);
  background-size: 32px 32px;
  width: 32px;
  height: 32px;

  span.name {
    @include hidden();
  }
}

a.button {
  padding: 11px 60px 11px 15px;

  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;

  background-image: url(../../img/button/arrow-black.svg);
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 16px 16px;

  background-color: white;
  color: #333;

  @include box-shadow(0 0.3em 0.5em -0.2em rgba(100, 100, 100, 1), 0 1em 2em -0.75em rgba(100, 100, 100, 0.75), 0 1em 3em -0.5em rgba(100, 100, 100, 0.5), 0 3em 3em -0.25em rgba(100, 100, 100, 0.2));


  &:hover {
    background-color: #eee;
  }

  &.dark {
    background-image: url(../../img/button/arrow-white.svg);
    background-color: #111;
    color: #fff;

    &:hover {
      background-color: #000;
    }

    @media (prefers-color-scheme: dark) {
      background-image: url(../../img/button/arrow-black.svg);
      background-color: white;
      color: #333;
      @include box-shadow(0 0.3em 0.5em -0.2em rgba(17, 17, 17, 1), 0 1em 2em -0.75em rgba(17, 17, 17, 0.75), 0 1em 3em -0.5em rgba(17, 17, 17, 0.5), 0 3em 3em -0.25em rgba(17, 17, 17, 0.2));
      &:hover {
        background-color: #eee;
      }
    }
  }
}

/* Full Size Figure */
figure.full-size {
  left: 50%;
  margin-left: -1103px;
  width: 2206px;
  height: 726px;
  background-size: 2206px 1240px;
  background-repeat: no-repeat;

  @media #{$ultra-large} {
    width: 4412px;
    height: 1452px;
    margin-left: -2206px;
    background-size: 4412px 2280px;
  }
}

/* Overlay */
div.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;

  @media #{$ultra-large} {
    top: 120px;
  }
}

/* Global Navigation */
input#gn-menustate {
  @include hidden();
}

nav#globalnav {
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  padding: 15px 0;
  position: absolute;
  background-color: transparent;
  @include transition(background-color $default-transition-time, height $default-transition-time);

  div.content {
    a.brand {
      margin-top: 5px;
      background-repeat: no-repeat;

      @media #{$small-device} {
        width: 100%;
        background-position: 50% 0;
      }
    }

    @include default-container();

    div.menu {
      float: right;

      label.menuicon {
        @include hidden();

        @media #{$small-device} {
          @include show();

          display: block;
          position: absolute;
          top: 14px;
          right: 0;
          width: 48px;
          height: 48px;
          cursor: pointer;
          @include transition-transform($default-transition-time, rotate(0));

          &:hover {
            opacity: 0.65;
          }

          span.bread {
            position: absolute;
            top: 0;
            right: 0;
            width: 48px;
            height: 48px;
            @include transition-transform($default-transition-time, rotate(0));

            span.crust {
              display: block;
              width: 18px;
              height: 2px;
              background: #fff;
              position: absolute;
              left: 15px;

              &.crust-top {
                top: 23px;
                @include transition-transform($default-transition-time, translateY(-3px));
              }

              &.crust-bottom {
                bottom: 23px;
                @include transition-transform($default-transition-time, translateY(3px));
              }
            }
          }
        }
      }

      ul.categories {
        > li.entry {
          padding-right: 10px;

          > a.link {
            color: #fff;
            text-decoration: none;

            @media #{$small-device} {
              display: block;
              outline-offset: 0;
              padding: 0;
              width: auto;
              max-width: none;
            }
          }

          @media #{$small-device} {
            display: block;
            width: 100%;
            height: 35px;
            margin-top: 15px;
            padding: 0;
            border-bottom: 1px solid #fff;
            opacity: 0;
            pointer-events: none;
            @include transition-transform-extra($default-transition-time, scale(1, 1) translateY(24px), opacity $default-transition-time);
          }
        }

        @media #{$small-device} {
          position: absolute;
          top: 64px;
          right: 0;
          bottom: 0;
          left: 0;
          margin: 0;
          padding: 0 48px;
          height: auto;
          box-sizing: border-box;
          overflow-x: hidden;
          overflow-y: auto;
          visibility: hidden;
          @include transition(visibility 0s linear 1s);
        }
      }

      ul.socialmedia > li.entry {
        padding-right: 5px;
      }

      ul.categories,
      ul.socialmedia {
        list-style: none;
        display: inline-block;

        li.entry {
          display: inline-block;

          &:last-child {
            padding-right: 0;
          }
        }
      }
    }
  }
}

input#gn-menustate:checked ~ nav#globalnav {
  height: 100vh;
  background-color: #111;

  div.content div.menu {
    label.menuicon {
      @include transform(rotate(90deg));

      span.bread {
        &.bread-top {
          @include transition-transform($default-transition-time, rotate(45deg));
        }
        &.bread-bottom {
          @include transition-transform($default-transition-time, rotate(-45deg));
        }

        span.crust {
          @include transform(translateY(0));
          @include transition-delay(0);
        }
      }
    }

    ul.categories {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
      @include transition(none);
      @include transform(none);

      > li.entry {
        opacity: 1;
        @include transform(translate3d(0, 0, 0));

        > a.link {
          pointer-events: auto;

          &:hover {
            color: #ddd;
          }
        }

        &:nth-child(2) {
          @include transition-delay(300ms, 300ms);
        }
        &:nth-child(3) {
          @include transition-delay(400ms, 400ms);
        }
        &:nth-child(4) {
          @include transition-delay(500ms, 500ms);
        }
        &:nth-child(5) {
          @include transition-delay(600ms, 600ms);
        }
      }
    }
  }
}

@supports (-webkit-backdrop-filter: saturate(180%) blur(20px)) {
  input#gn-menustate:checked ~ nav#globalnav {
    background: rgba(17, 17, 17, 0.8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
  }
}

/* Header */
header {
  width: 100%;
  height: 726px;
  margin-top: -94px;
  figure {
    overflow: hidden;
    &.thumbnail {
      position: relative;
      z-index: 1;

      @include filter(brightness(60%));
    }

    &.wave {
      position: relative;
      z-index: 2;
      background-image: url(../../img/waves/header.svg);
      @media (prefers-color-scheme: dark) {
        background-image: url(../../img/waves/header-dark.svg);
      }
    }
  }

  div.wave {
    position: absolute;
    overflow: hidden;
    z-index: 2;
    width: 100%;
    top: 350px;

    @media #{$ultra-large} {
      top: 850px;
    }
  }

  div.overlay div.content {
    padding-top: 230px;
    @include default-container();

    h1.headline {
      margin-top: 16px;
      font-size: 48px;
      color: #fff;
    }

    @media #{$small-device} {
      h1.headline {
        font-size: 32px;
      }
    }
  }

  &.top-story {
    div.overlay div.content h1.headline {
      font-size: 46px;
      width: 75%;
      color: #fff;
      margin-bottom: 30px;
      margin-top: 0px;

      @media #{$small-device} {
        font-size: 28px;
        width: 100%;
      }
    }
  }

  &.small {
    height: 624px;
    figure.thumbnail {
      margin-top: -200px;
      top: -100px;
    }
    div.wave {
      margin-top: -200px;
    }

    div.overlay div.content {
      padding-top: 100px;

      @media #{$small-device} {
        padding-top: 70px;
      }
    }
  }

  &.category {
    div.overlay div.content {
      h1.headline {
        font-size: 46px;
        line-height: 46px;
        color: #fff;
        display: inline-block;
        border-bottom: rgb(90, 200, 250) 7px solid;
        margin-bottom: 25px;
        @media #{$small-device} {
          font-size: 36px;
          margin-bottom: 15px;
        }
      }

      span.description {
        display: block;
        width: 75%;
        font-size: 18px;
        color: #eee;

        @media #{$small-device} {
          width: 90%;
          font-size: 16px;
        }
      }
    }
  }

  &.article {
    figure.thumbnail {
      @include filter(brightness(60%));
    }

    div.overlay div.content {
      div.data {
        font-size: 12px;
        color: #ccc;
        text-transform: uppercase;

        a {
          color: inherit;
          text-decoration: none;
        }

        span::after {
          padding-left: 5px;
          content: '-';
        }

        span:last-child::after {
          content: '';
        }
      }

      h1.headline {
        font-size: 38px;
        width: 75%;
        color: #fff;
        @media #{$small-device} {
          font-size: 28px;
        }
      }
    }
  }

  &.page-template {
    div.overlay div.content {
      padding-top: 180px;
      h1.headline {
        font-size: 48px;
        color: #fff;

        @media #{$small-device} {
          font-size: 28px;
        }
      }

      @media #{$small-device} {
        padding-top: 80px;
      }
    }
  }

  &.branding {
    figure.thumbnail {
      background-image: linear-gradient(to right, rgb(89, 56, 141) 0%, rgb(22, 136, 167) 100%);
    }
  }

  &.partner {
    figure.thumbnail {
      background-image: url(../../img/sections/partner.png);
    }
  }
  &.error {
    figure.thumbnail {
      background-image: url(../../img/sections/error.jpg);
    }
  }
}

/* Articles */
section.articles {
  position: relative;
  z-index: 10;
  top: -150px;
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 2rem;

  @media #{$medium-device} {
    grid-template-columns: 1fr 1fr;
  }

  @media #{$small-device} {
    grid-template-columns: 1fr;
  }

  @media #{$ultra-large} {
    top: 0;
  }

  @include default-container();

  article.article {
    @include box-shadow(0 1em 3em -0.25em rgba(46, 46, 46, 0.61));
    @media (prefers-color-scheme: dark) {
      @include box-shadow(0 1em 3em -0.25em rgba(17, 17, 17, 0.61));
    }
    border-radius: 10px;
    display: flex;
    background-color: #fff;
    flex-direction: column;

    @media (prefers-color-scheme: dark) {
      background-color: #111111;
      color: white;
    }

    img.thumbnail {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      width: 100%;
    }

    div.content {
      padding: 20px;
      height: 100%;
      span.category {
        color: #888;
        text-transform: uppercase;
        font-size: 12px;
        display: block;

        @media (prefers-color-scheme: dark) {
          color: white;
        }
      }

      span.title {
        padding-top: 5px;
        display: block;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0.03em;

        @media (prefers-color-scheme: dark) {
          color: white;
        }
      }

      span.text-preview {
        padding-top: 5px;
        font-weight: 300;
        color: #444;
        display: block;
        line-height: 1.5em;

        @media (prefers-color-scheme: dark) {
          color: white;
        }
      }
    }

    a.button {
      right: 25px;
      position: relative;
      bottom: -15px;
      width: fit-content;
      align-self: flex-end;
    }
  }
}

/* Article */
section.article,
section.page-template {
  @include post-container();
  @include box-shadow(0 1em 3em -0.25em rgba(46, 46, 46, 0.61));
  @media (prefers-color-scheme: dark) {
    @include box-shadow(0 1em 3em -0.25em rgba(17, 17, 17, 0.61));
  }
  margin-top: -160px;
  margin-bottom: 150px;
  position: relative;
  z-index: 10;
  border-radius: 10px;
  background-color: #fff;

  @media #{$ultra-large} {
    margin-top: 0;
    margin-bottom: 350px;
  }

  @media (prefers-color-scheme: dark) {
    background-color: #111111;
    color: #FFFFFF;
  }

  div.content {
    padding: 50px 6%;

    a {
      color: #111;
      border-bottom: #007aff 2px solid;
      text-decoration: none;

      &:hover {
        color: #007aff;
      }

      @media (prefers-color-scheme: dark) {
        color: #92a3ab;
      }
    }

    p, li, blockquote {
      color: #444;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.4em;
      @media (prefers-color-scheme: dark) {
        color: #92a3ab;
      }
    }

    blockquote {
      margin: 0;
      border-left: 2px solid #007aff;
      padding-left: 16px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 26px;
    }

    img {
      width: 100%;
      height: auto;
    }

    pre code {
      background-color: #111;
      color: white;
      padding: 20px;
      display: block;
    }

    strong {
      font-weight: 700;
    }

    .kg-embed-card {
      margin-left: auto;
      margin-right: auto;
      width: 70%;
      @media #{$small-device} {
        width: 100%;
      }
    }
  }
}

/* Error */
section.error {
  @include default-container();
  margin-bottom: 350px;
  position: relative;
  z-index: 10;

  a {
    color: #007aff;
    text-decoration: none;
  }
}

/* Branding */
section.branding {
  @include default-container();
  position: relative;
  z-index: 10;
  margin-top: -150px;

  div.row {
    width: 100%;
    display: block;

    > .col-12,
    > .col-6,
    > .col-3 {
      display: inline-block;
    }

    .col-12 {
      width: 100%;
    }

    .col-6 {
      width: calc(50% - 16px);
      margin-right: 25px;

      &:last-child {
        margin-right: 0;
      }

      @media #{$small-device} {
        width: 100%;
        margin-right: 0;
      }
    }

    .col-3 {
      width: calc(25% - 23px);
      margin-right: 25px;

      &:last-child {
        margin-right: 0;
      }

      @media #{$small-device} {
        width: 100%;
        margin-right: 0;
      }
    }
  }

  figure {
    background-color: #fff;
    @include box-shadow(0 1em 3em -0.25em rgba(46, 46, 46, 0.61));
    @media (prefers-color-scheme: dark) {
      @include box-shadow(0 1em 3em -0.25em rgba(17, 17, 17, 0.61));
    }
    border-radius: 10px;
    margin: 10px 0;
    text-align: center;

    &.logo {
      background-size: 96px 96px;
      background-position: 50%;
      background-repeat: no-repeat;
      height: 300px;

      &.color {
        background-size: 128px 128px;
        background-image: url(../../img/branding/color.png);
        height: 500px;
      }

      &.black {
        background-image: url(../../img/branding/black.png);
      }
      &.white {
        background-color: #111;
        background-image: url(../../img/branding/white.png);
      }
    }

    &.color {
      height: 200px;
      color: #fff;

      &.purple {
        background-color: #59388d;
      }
      &.blue {
        background-color: #1688a7;
      }
      &.white {
        background-color: #fff;
        color: #111;
      }
      &.light-gray {
        background-color: #c1c1c1;
        color: #111;
      }
      &.dark-gray {
        background-color: #212121;
      }
      &.black {
        background-color: #111;
      }

      span.hex {
        display: block;
        margin-top: 85px;
        font-size: 22px;
      }
    }

    &.font {
      height: 200px;

      &.basier {
        font-family: 'Basier Square', sans-serif;
      }

      span.char {
        font-weight: 600;
        font-size: 56px;
        display: block;
        margin-top: 50px;
        color: #111;
      }

      span.name {
        display: block;
        color: #333;
        font-size: 18px;
      }
    }
  }

  div.text {
    padding: 50px 15%;

    p.description {
      font-weight: 300;
      line-height: 1.5em;
    }
  }
}

/* Partner */
section.partner {
  @include default-container();
  margin-top: -100px;
  margin-bottom: 300px;

  div.card {
    @include box-shadow(0 1em 3em -0.25em rgba(46, 46, 46, 0.61));
    @media (prefers-color-scheme: dark) {
      @include box-shadow(0 1em 3em -0.25em rgba(17, 17, 17, 0.61));
    }
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    height: 250px;
    position: relative;
    z-index: 10;
    background-color: #fff;
    width: calc(50% - 25px);
    margin-right: 25px;
    margin-bottom: 25px;
    display: inline-block;

    @media #{$small-device} {
      width: 100%;
    }

    figure.logo {
      display: inline-block;
      width: calc(50% - 10px);
      height: 100%;
      background-size: 128px 128px;
      background-position: center center;
      background-repeat: no-repeat;

      &.anguli {
        background-image: url(../../img/partner/anguli.png);
      }
      &.designhub {
        background-image: url(../../img/partner/designhub.png);
      }
      &.myprepaidhost {
        background-image: url(../../img/partner/myprepaidhost.png);
      }
      &.smashfm {
        background-image: url(../../img/partner/smashfm.png);
      }
    }

    div.content {
      width: calc(50% - 10px);
      display: inline-block;
      vertical-align: 300%;

      span {
        display: block;

        &.name {
          font-size: 22px;
        }

        &.sector {
          font-size: 12px;
          text-transform: uppercase;
          color: #aaa;
          font-weight: 600;
        }

        &.description {
          margin-top: 15px;
          font-size: 14px;
          line-height: 1.4em;
          font-weight: 300;
        }
      }
    }

    &:nth-child(2),
    &:nth-child(4) {
      margin-right: 0;
    }
  }
}

section.partner,
section.branding {
  margin-bottom: 350px;
  @media #{$ultra-large} {
    margin-top: 0;
    margin-bottom: 550px;
  }
}

/* Discord */
section.discord {
  margin-top: -400px;
  position: relative;

  figure.background {
    position: relative;
    background-image: url(../../img/discord/background.png);
  }

  div.overlay {
    text-align: center;
    margin-top: 350px;
    color: #fff;

    @media #{$ultra-large} {
      margin-top: 550px;
    }

    h2.title {
      font-size: 36px;
      padding-bottom: 15px;
    }

    span.description {
      margin: 0 auto 35px auto;
      display: block;
      width: 30%;
      line-height: 1.7em;

      @media #{$small-device} {
        width: 100%;
      }
    }
  }
}

footer.footer {
  width: 100%;
  background-color: #111;
  color: #fff;
  padding: 45px 0;

  ul {
    -webkit-padding-start: 0;
    padding-left: 0;
  }

  ul.columns {
    list-style: none;
    @include default-container();

    > li.entry {
      vertical-align: top;
      display: inline-block;
      width: calc(25% - 5px);

      @media #{$small-device} {
        width: 100%;
        padding-top: 35px;

        &:first-child {
          padding-top: 0;
        }
      }

      div.sub-menu {
        padding-right: 30px;

        ul.links {
          padding-top: 10px;
          list-style: none;

          > li.entry a {
            color: #999;
            text-decoration: none;
            line-height: 1.5em;

            &:hover {
              color: #777;
            }
          }
        }
      }
    }
  }

  ul.copyright {
    list-style: none;
    padding-top: 35px;
    color: #bbb;
    @include default-container();

    li.entry {
      display: inline-block;
      padding-right: 5px;
      padding-left: 3px;
      border-right: #bbb 2px solid;

      @media #{$small-device} {
        display: block;
        padding: 0;
        border: none;
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border-right: none;
        padding-right: 0;
      }
    }
  }
}
